<style>

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

fieldset{
border: 2 px solid #007 bff ;
6
padding: 20 px ;
}

legend {
color: #007 bff ;
font - weight : bold ;
}
input {
margin: 5 px ;
padding: 8 px ;
}


</style>
